configuration {
    modi: "drun,run,window";
    font: "JetBrains Mono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    case-sensitive: false;
    cycle: true;
    matching: "fuzzy";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";
}
@theme "~/.config/rofi/themes/bad-romance.rasi"
